.about-me {
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(37, 37, 37);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -ms-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -o-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 900px) {
  .about-me {
    margin: 0 20px;
  }
}

.about-me:hover {
  background-color: #2f2f2f;
  border: 1px solid rgba(255, 255, 255, 0.123);
  cursor: default;
}

.about-me h1 {
  font-size: 30px;
}

.about-me h2 {
  font-size: 16px;
}

.about-me h1,
h2 {
  font-weight: 200;
}

.about-me h1 span,
h2 span {
  font-weight: 700;
}

.about-me p {
  font-weight: 200;
  font-size: 14px;
}

.p-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 0.3px;
  text-align: justify;
}

.about-me .icon {
  padding-top: 5px;
  width: 25px;
}

.about-me .icon:nth-child(1) {
  height: 32px;
}
