.experience-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(37, 37, 37);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  transition: 0.8s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -ms-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -o-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 1;
}

.experience-item:hover {
  background-color: #2f2f2f;
  border: 1px solid rgba(255, 255, 255, 0.123);
  opacity: 1;
  cursor: default;
}

.experience-item span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-item .business-logo {
  max-width: 100px;
}

.experience-item h2 {
  font-weight: 600;
  font-size: 16px;
}
.experience-item p {
  text-align: justify;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.3px;
}

@media (max-width: 900px) {
  .experience-item {
    margin: 20px 20px 0 20px;
  }
}
